body{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    background-color: gray;
    color: pink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    padding: 0.5em;
    font-size: bold;
}
.container h1{
    font-size: 20px;
}
.titu{
    background-color: aquamarine;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}